{% extends 'base.html' %}

{% block content %}

 <div class="page-header">
        <h1>About </h1>
        
      </div>

      <!-- Example row of columns -->
    <div class="row">
        <div class="span8">
          <h4>Developer</h4>
          <p>CourseReview @NYUAD was developed by <a href="mailto:jj1347@nyu.edu">Joe Jean '16</a> in an effort to provide a better and more organized 
		  medium for students to share and read feedback on courses they have taken and courses they are planning to take.</p>
          <h4>Acknowledgments</h4>
		  <p>I wish to personally thank the following people for their priceless contributions to my inspiration and other help in creating this project:</p>
		  <ul>
			<li> To Morgante Pell, thank you for urging me to push myself when I was being lazy while working on this project. I also want to thank you for the authentication library 
			and for your help in deploying the project in production.</li>
			<li> To Juan Felipe Beltran, your promptness in answering my questions and the answers themselves were just priceless. Thank you.</li>
			<li> To Lingliang Zhang, thanks for being the first tester and for pointing out the bug with the navbar on smaller displays. </li>
			<li> To Alejandra Pinto Miguel, thank you for the redesign of the logo. </li>
			<li> To the Entire NYUAD Community, thank you for inspiring me everyday. I feel so blessed to be part of such a wonderful community. </li> 
		  </ul>
		  
        </div>
	</div> 

{% endblock %}