<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		{% if title %} 
		<title> {{title}} - Course Review @NYUAD</title>
		{% else %}
		<title>Course Review @ NYUAD</title>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Course Review Website @ NYUAD">
		<meta name="author" content="Joe Jean, NYUAD class 2016">

		<!-- Le styles -->
		
		
		<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
		
		
		<style type="text/css">
		  body {
			padding-top: 60px;
			padding-bottom: 40px;
		  }
		  
		</style>
		<link href="{{ url_for('static', filename='bootstrap-responsive.css') }}" rel="stylesheet">
		

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="../assets/js/html5shiv.js"></script>
		<![endif]-->

		<!-- Fav and glyphs icons-->
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="{{ url_for('static',filename = 'moment.min.js') }}"></script>

	 </head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		 <a href="http://cr.sg.nyuad.org/home" class="brand" > <img src="{{ url_for('static', filename='logo2.png') }}" /> </a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
				{% if g.user.is_authenticated() %}
				  <li><a href="{{url_for('home')}}"><strong>Home</strong></a></li>
				  <li><a href="{{url_for('user',netID=g.user.net_id)}}"><strong>My profile</strong></a></li>
				  <li><a href="{{url_for('submitcourse')}}"><strong>Add a Course</strong></a></li>
				  <li><a href="{{url_for('logout')}}"><strong>Logout</strong></a></li>
				{% else %}
					<li><a href="{{url_for('about')}}"><strong>About</strong></a></li>
					<li><a href="{{ url_for('login') }}"><strong>Login</strong></a></li>
				{% endif %}
            </ul>
			{% if g.user.is_authenticated() %}
            <form class="navbar-form navbar-searc form-search" action= "{{url_for('search')}}" method="post" name= "search">
				<div class="input-append">
					{{g.search_form.hidden_tag()}}
					{{g.search_form.search(class="span4 search-query",id="searchb",placeholder="Search Course name or Course name keywords here", autocomplete="off", 
					**{'data-provide':'typeahea'})}}
					<button type="submit" class="btn">Go!</button>
				</div>
            </form>
			{% endif %}
          </div>
		  <!--/.nav-collapse -->
        </div>
      </div>
    </div>
	

		<div class="container">
			
			{% with messages = get_flashed_messages(category_filter=["error"]) %}
			{%if messages %}
				
				<div class="alert alert-error page-header">
					
					{% for message in messages %}
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Oops!</strong> {{message}}
					{% endfor %}
					
				</div>
				
			{% endif %}
			
			{% endwith %}
			
			{% with messages = get_flashed_messages(category_filter=["success"]) %}
			{%if messages %}
				
				<div class="alert alert-success page-header">
					
					{% for message in messages %}
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Yay!</strong> {{message}}
					{% endfor %}
					
				</div>
				
			{% endif %}
			{% endwith %}
			
			{% with messages = get_flashed_messages(category_filter=["info"]) %}
			{%if messages %}
				
				<div class="alert alert-info page-header">
					
					{% for message in messages %}
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Heads up!</strong> {{message}}
					{% endfor %}
					
				</div>
				
			{% endif %}
			
			{% endwith %}
		
		{% block content %}{% endblock %}
		
		
		<footer>
			<hr>
			{% if g.user.is_authenticated() %}
			<p><a href="{{url_for('about')}}"> About </a> | <a href="{{url_for('home')}}"> Home</a> | <a href="{{url_for('user',netID=g.user.net_id)}}"> My profile</a> | <a href="{{url_for('submitcourse')}}">Add a Course</a>
			| <a href="{{url_for('logout')}}"> Logout</a> | <a href="{{url_for('termsofuse')}}"> Terms of Use</a> </p> 
			{% else %}
			<p><a href="{{url_for('about')}}">About </a> | <a href="{{ url_for('login') }}">Login</a> | <a href="{{url_for('termsofuse')}}">Terms of Use</a></p>
			{% endif %}
			<p>© Course Review @ NYUAD 2013-2014. | Developed by <a href="mailto:jj1347@nyu.edu">Joe Jean '16</a>
			</p>
			
			
			
		</footer>

		</div> <!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		
		<script src="{{ url_for('static', filename = 'jquery.js') }}"></script>
		<script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
		<script type=text/javascript>
			var courses= {{g.courses|tojson|safe}};
			$('#searchb').typeahead({
			source: courses,
			items: 4,
			updater: function(item){
			window.location.href = {{url_for('search_results',query=item)}}+item;
			return item;
			},
			
			});
		</script>
		<script type=text/javascript>
		function redirectHome(){
		window.location.href = {{url_for('home')}};
		
		}
		</script>
		
		

  

	</body>
</html>