{% extends 'base.html' %}

{% block content %}
		<div class="page-header">
		
		</div>

      <!-- Example row of columns -->
      <div class="row">
        
	
        <div class="span10">
			<i class="icon-arrow-left"></i> <a href="{{url_for('home')}}">Go back to Home Page </a>
          <h3> Search Results For : {{query}}</h3>
		  
		{% if results ==[] %}
				  <p><strong>Sorry, no results were found for this query</strong></p>
				  <p>The course you are looking for might not be in our database yet. Please <a href="{{url_for('submitcourse')}}">
				  click here to send it to us </a> and we will add it. Thank you !</p>
				  
		{% else %}
			<table class="table table-striped  table-bordered">
				<thead>
					<tr>
					  <th>Course Name</th>
					  <th class="span2">Total Reviews </th>
					</tr>
				</thead>
				  <tbody>
				  
						{% for c in results %}
							<tr>
							  <td><a href="{{url_for('reviews',courseid=c.id)}}"><strong>{{ c.course_name}}</strong></a>
								{% if (c.professor|length)==0 %}
									</td>
								{% elif (c.professor|length)==1 %}
								<small>with {{c.professor[0].professor_name}}</small></td>
								{% else %}
									<small>with 
									{% for p in c.professor %}
									{{p.professor_name}},
									{% endfor %}
									</small></td>
								{% endif %}
							  <td><a href="{{url_for('reviews',courseid=c.id)}}">{{c.totalreviews()}} Reviews</a></td>
							</tr>
						{% endfor %}
		{% endif %}
					
					
					
				  </tbody>		
			</table>
			
          
       </div>
	   
	    <div class="span2">
          
        </div>
        
      </div>

{% endblock %}